/* 
* Общие стили
*/

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0 20px;
}

.container {
  max-width: 840px;
  margin: 0 auto;
}

/*
* Утилиты
*/

.link {
  color: #444;
  line-height: 20px;
  font-weight: 500;
}

.link_disbale {
  color: #999999;
  pointer-events: none;
  cursor: default;
}

.text-light {
  font-weight: 300;
  line-height: 25.5px;
  color: #999;
  margin-bottom: 16px;
  margin-top: 0;
}

/*
* Блоки
*/

.bio {
  margin-top: 60px;
  margin-bottom: 130px;
}

.bio__avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.bio__title {
  font-size: 24px;
  line-height: 38px;
  margin: 16px 0 8px;
  color: #444444;
}

.top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.top__item {
  width: 264px;
}

.top__item-preview {
  width: 100%;
  height: 188px;
  object-fit: cover;
}

.top__item-title {
  margin: 16px 0;
  font-size: 16px;
  line-height: 19.5px;
}
.btn11:hover{
    background: rgb(0, 47, 78);
}
