* {
    box-sizing: border-box;
  }
  
  body {
    background: #535353;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    user-select: none;
  }
  
  .game {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    border-radius: 20px;
    /* border: 2px solid #fff; */
    background: rgba(255,255,255, .1);
    box-shadow: 0 0 20px rgba(255,255,255, .2);
  }
  
  .box {
    margin: 1px;
    background: #fff;
  }
  
  .box::after {
    content: '';
    display: block;
    padding-top: 100%;
  }
  
  .row {
    display: flex;
  }