.main {
  min-height: calc(100vh - 100px);

  display: flex;
  align-items: center;

  padding-top: 40px;
  padding-bottom: 40px;
}

.main > .container {
  position: relative;
}

.main__img {
  position: absolute;
  right: 0;

  top: 50%;
  transform: translateY(-50%);

  width: 50%;
  height: auto;

  z-index: -1;
}

@media (max-width: 770px) {
  .main__img {
    position: static;
    transform: none;
    margin-bottom: 40px;
  }
}
