.image_1{
    width: 90px;
    border-radius: 60px;
    height: 100px;
}
.image_2{
    width: 250px;

}
.conteiner_2{
    width: 250px;
    box-shadow: 0 0 10px  black;
}
.h1_1{
    box-shadow: 0 0 10px  black;

}